.signin-container {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
}

@media (min-width: 768px) {
  .signin-container {
    grid-template-columns: 1fr 1fr;
  }
}

.signin-left {
  background-image: url('/src/assets/onboarding.png');
  background-size:cover;
  background-repeat: no-repeat;
  background-position: right;
  margin: 20px;
  padding: 30px;
  border-radius: 1.2rem;
  overflow: hidden;
}

@media (min-width: 768px) {
  .signin-left {
    border-radius: 10;
  }
}

.signin-overlay {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  padding-bottom: 2.5rem;
}

.signin-heading {
  color: white;
  font-size: 1.5rem;
  font-weight: 600;
}

.signin-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px !important;
  height: 100vh;
  box-sizing: border-box;
}


.signin-center-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.signin-content-wrapper {
  width: 100%;
  max-width: 400px; 
}



@media (min-width: 768px) {
  .signin-right {
    padding: 3rem 5rem;
  }
}

.eye-toggle {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0.75rem;
  display: flex;
  align-items: center;
  color: #6b7280; 
}

.HomeButton{
  font-weight: lighter !important;
  color: white !important; 
  background-color: rgb(255, 255, 255, 10%) !important;
  text-transform: none !important;
  border-color: rgb(255, 255, 255, 10%) !important;
  border-radius: 8px !important;
   backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  padding-left: 10px !important;
  padding-right: 10px !important;
}

.heading-line {
  width: 10px;
  border: 2px solid white;
  margin-top: 10px;
  margin-right: 10px;
  border-radius: 200px;
}

.heading-line2 {
  width: 150px;
  border: 2px solid white;
  margin-top: 10px;
  border-radius: 200px;
}

.logo-img{
height: 30px !important;
margin-bottom: 20px;
}

.NeedHelpOpt {
  font-size: 10px;
  color: #969696;
  margin-top: 0; 
}


.NeedHelpOpt2{
  font-size: 10px;
  font-weight: 500;
  color: #6B6B6B !important;
  text-decoration: none;
  margin-left: 0.2rem;
}

.welcomeText{
  font-size: 1.8rem;
  font-weight: 600;
  color: #333;
  margin-bottom: o.5rem;
  text-align: center;
}

.welcomeText2{
  font-size: 14px;
  font-weight: 400;
  color: #6b6b6b;
  margin-bottom: o.5rem;
  text-align: center; 
}

.NoAccount{
  font-size: 14px;
  color: #6b6b6b;
  text-align: center;
}

.NoAccount2{
  font-size: 14px;
  color: #21B1D4;
  font-weight: 450;
  text-decoration: none;
  margin-left: 0.3rem;
}

.textHover:hover{
  text-decoration: underline;
}